<!DOCTYPE html>
<html ng-app="App">
<head>
    <title>NGTextReplace - Douglas Lira</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../src/ngTextReplace.js"></script>
    <!-- -->
    <script src="app.js"></script>
    <script src="controller.js"></script>
</head>
<body>
    <div ng-controller="MainController">
        <fieldset>
            <legend>Texto</legend>
            <text-replace ng-model="change" tpl="tpl"></text-replace>
        </fieldset>

        <fieldset>
            <legend>Parâmetros</legend>
            <div ng-repeat="(key, value) in change">
                <input ng-keyup="add(key, value)" ng-model="value">
            </div>
        </fieldset>
    </div>
</body>
</html>